In [9]:
import pandas as pd

print("üîç Carregando 10.000 empresas (amostra r√°pida)...")

df = pd.read_csv(
    "../data/empresas_rf.txt",
    sep=';',
    encoding='latin1',
    header=None,
    names=[
        'cnpj_basico',
        'razao_social',
        'natureza_juridica',
        'qualificacao_responsavel',
        'capital_social',
        'porte_empresa',
        'ente_federativo'
    ],
    on_bad_lines='skip',      # ‚Üê ignora linhas com erro (comum na RF)
    nrows=10_000,             # ‚Üê s√≥ 10 mil linhas (r√°pido!)
    low_memory=False          # ‚Üê evita warning de dtype
)

# Converte capital_social com seguran√ßa
df['capital_social'] = pd.to_numeric(
    df['capital_social'].str.replace(',', '.'),
    errors='coerce'
).fillna(0.0)

print("‚úÖ Carregado!")
print("Shape:", df.shape)
df.head()

üîç Carregando 10.000 empresas (amostra r√°pida)...
‚úÖ Carregado!
Shape: (10000, 7)

,cnpj_basico,razao_social,natureza_juridica,qualificacao_responsavel,capital_social,porte_empresa,ente_federativo
0,41273590,MARIA DAS MERCES SOARES LEMOS,4014,34,0.0,5,NaN
1,41273591,CASSIO APARECIDO LOPES 06457523803,2135,50,1000.0,1,NaN
2,41273592,41.273.592 HELIO DE JESUS PEREIRA,2135,50,30000.0,1,NaN
3,41273593,JULIO CESAR NUNES 39611300867,2135,50,3000.0,1,NaN
4,41273594,OZINETE DELFINO CALDAS 41608224287,2135,50,5000.0,1,NaN

‚úÖ Dados carregados!
Shape: (24823560, 7)

Tipos das colunas:
cnpj_basico                 object
razao_social                object
natureza_juridica           object
qualificacao_responsavel    object
capital_social              object
porte_empresa               object
ente_federativo             object
dtype: object

Exemplo de capital_social:
0        0.0
1     1000.0
2    30000.0
3     3000.0
4     5000.0
Name: capital_social, dtype: object

In [11]:
print("\n=== .info() ===")
df.info()

print("\n=== .describe() ===")
print(df.describe(include='all'))

=== .info() ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cnpj_basico               10000 non-null  int64
 1   razao_social              10000 non-null  object
 2   natureza_juridica         10000 non-null  int64
 3   qualificacao_responsavel  10000 non-null  int64
 4   capital_social            10000 non-null  float64
 5   porte_empresa             10000 non-null  int64
 6   ente_federativo           3 non-null      object
dtypes: float64(1), int64(4), object(2)
memory usage: 547.0+ KB

=== .describe() ===
         cnpj_basico                         razao_social  natureza_juridica  \
count   1.000000e+04                                10000       10000.000000
unique           NaN                                 9995                NaN
top              NaN  VANESSA ANDRADE BATISTA 13863022602                NaN
freq             NaN                                    3                NaN
mean    4.127860e+07                                  NaN        2158.030300
std     2.894494e+03                                  NaN         256.078032
min     4.127359e+07                                  NaN        1066.000000
25%     4.127610e+07                                  NaN        2135.000000
50%     4.127860e+07                                  NaN        2135.000000
75%     4.128111e+07                                  NaN        2135.000000
max     4.128362e+07                                  NaN        4120.000000

        qualificacao_responsavel  capital_social  porte_empresa  \
count               10000.000000    1.000000e+04   10000.000000
unique                       NaN             NaN            NaN
top                          NaN             NaN            NaN
freq                         NaN             NaN            NaN
mean                   49.124100    1.002621e+05       1.412400
std                     5.193014    6.013267e+06       1.157782
min                     5.000000    0.000000e+00       1.000000
25%                    50.000000    1.000000e+03       1.000000
50%                    50.000000    2.500000e+03       1.000000
75%                    50.000000    1.000000e+04       1.000000
max                    65.000000    6.000000e+08       5.000000

       ente_federativo
count                3
unique               3
top     ESPLANADA - BA
freq                 1
mean               NaN
std                NaN
min                NaN
25%                NaN
50%                NaN
75%                NaN
max                NaN